@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(6, 21, 49);
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}