 i {
     font-size: 25px;
     cursor: pointer;
     position: absolute;
     top: 20px;
     left: 20px;
     z-index: 4;
     color: white;
 }

 i#MenuMobil {
     display: none;

     @media (max-width:1200px) {
         display: block;
     }
 }

 i#Menu {
     @media (max-width:1200px) {
         display: none;
     }
 }

 nav,
 section.MenuMobil {
     width: 250px;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgb(24, 53, 80);
     color: white;
     z-index: 2;
     padding: 15px 15px;
     position: relative;



     hr {
         border: .5px solid #ffffff69;
         margin-bottom: 40px;
     }

     .DatosFlex {
         padding-top: 50px;
     }

     .DatosClima {
         margin-top: 15px;

         p:nth-of-type(1) {
             font-size: 13px;
         }

         p:nth-of-type(2) {
             padding-top: 3px;
             font-weight: 17px;
             font-weight: bold;
         }
     }

     .Copy {
         position: absolute;
         bottom: 10px;
         width: 200px;
         text-align: center;

         p {
             font-size: 13px;
             color: #ffffffc4;
         }
     }

     .HoraActual {
         text-align: center;
         width: 80%;
         margin: 0 auto;
         margin-top: 100px;
         padding: 15px 0;
         background-color: rgba(10, 8, 36, 0.535);
         border-radius: 8px;

         p {
             font-size: 20px;
         }
     }


 }

 nav.MenuMax {
     @media (max-width:1200px) {
         display: none !important;
     }
 }

 section.MenuMobil {
     display: none;

     @media (max-width:1200px) {
         display: none;
         position: fixed;
         top: 0;
         left: 0;
     }

     animation: MnuMobil .7s ease 0s;
 }

 @keyframes MnuMobil {
     0% {
         transform: translateX(-300px);
     }

     100% {
         transform: translateX(0px);
     }
 }